.loader {
    //loader-modal
    &-modal {
        grid-area: main;
        background: {
            color: rgba(245, 245, 245, .8);
        };
        z-index: 11;
    }
    //loader__content-wraper
    &__content-wraper{
        width: 550px;
        height: 450px;
        display: grid;
        grid-template-rows: 4fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'img' 'menu';
        background-color: #fff;
        box-shadow: 2px 2px 8px 5px $mainBlack, -2px -2px 8px 5px $mainBlack;

    }
    &__img-wraper {
        grid-area: img;
        position: relative;
        display: flex;
        align-self: center;
        justify-self: center;
    }
    //loader__overlay
    &__overlay {
        position: absolute;
        border: 2px solid black;

        &:hover { 
            cursor: cell;
        }
        &-corner {
            width: 20px;
            height: 20px;
            background: red;
            position: absolute;
            // clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 50%, 50% 100%, 0 100%);
            clip-path: polygon( 96.364% 0%,96.364% 0%,96.953% 0.048%,97.513% 0.185%,98.035% 0.406%,98.511% 0.702%,98.935% 1.065%,99.298% 1.489%,99.594% 1.965%,99.815% 2.487%,99.952% 3.047%,100% 3.636%,100% 20%,100% 20%,99.738% 23.244%,98.98% 26.322%,97.768% 29.191%,96.141% 31.812%,94.142% 34.142%,91.812% 36.141%,89.191% 37.768%,86.322% 38.98%,83.244% 39.738%,80% 40%,80% 40%,60% 40%,60% 40%,56.756% 40.262%,53.678% 41.02%,50.809% 42.232%,48.188% 43.859%,45.858% 45.858%,43.859% 48.188%,42.232% 50.809%,41.02% 53.678%,40.262% 56.756%,40% 60%,40% 80%,40% 80%,40% 80%,39.738% 83.244%,38.98% 86.322%,37.768% 89.191%,36.141% 91.812%,34.142% 94.142%,31.812% 96.141%,29.191% 97.768%,26.322% 98.98%,23.244% 99.738%,20% 100%,3.636% 100%,3.636% 100%,3.047% 99.952%,2.487% 99.815%,1.965% 99.594%,1.489% 99.298%,1.065% 98.935%,0.702% 98.511%,0.406% 98.035%,0.185% 97.513%,0.048% 96.953%,0% 96.364%,0% 20%,0% 20%,0.262% 16.756%,1.02% 13.678%,2.232% 10.809%,3.859% 8.188%,5.858% 5.858%,8.188% 3.859%,10.809% 2.232%,13.678% 1.02%,16.756% 0.262%,20% 0%,96.364% 0% );

            border-radius: 4px 0;
            &:hover {
                cursor: pointer;
            }
            &:nth-child(1) { top: -5px; left: -5px; }
            &:nth-child(2) { top: -5px; right: -5px; transform: rotate(90deg); }
            &:nth-child(3) { bottom: -5px; right: -5px; transform: rotate(180deg); }
            &:nth-child(4) { bottom: -5px; left: -5px; transform: rotate(270deg) }
        }
    }
    //loader__menu
    &__menu {
        grid-area: menu;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    

}