.loader {
    //loader-modal
    &-modal {
        grid-area: main;
        background: {
            color: rgba(245, 245, 245, .8);
        };
        z-index: 11;
    }
    //loader__content-wraper
    &__content-wraper{
        width: 550px;
        height: 450px;
        display: grid;
        grid-template-rows: 4fr 1fr;
        grid-template-columns: 1fr;
        grid-template-areas: 'img' 'menu';
        background-color: #fff;
        box-shadow: 2px 2px 8px 5px $mainBlack, -2px -2px 8px 5px $mainBlack;

    }
    &__img-wraper {
        grid-area: img;
        position: relative;
        display: flex;
        align-self: center;
        justify-self: center;
    }
    //loader__overlay
    &__overlay {
        position: absolute;
        border: 2px solid black;

        &:hover { 
            cursor: cell;
        }
        &-corner {
            width: 20px;
            height: 20px;
            background: red;
            position: absolute;
            clip-path: polygon(0 0, 100% 0, 100% 50%, 50% 50%, 50% 100%, 0 100%);
            border-radius: 4px 0;
            &:hover {
                cursor: pointer;
            }
            &:nth-child(1) { top: -5px; left: -5px; }
            &:nth-child(2) { top: -5px; right: -5px; transform: rotate(90deg); }
            &:nth-child(3) { bottom: -5px; right: -5px; transform: rotate(180deg); }
            &:nth-child(4) { bottom: -5px; left: -5px; transform: rotate(270deg) }
        }
    }
    //loader__menu
    &__menu {
        grid-area: menu;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    

}