@font-face {
    font-family: 'Vredana';
    src: url('../font/Verdana.ttf');
}
@font-face {
    font-family: 'Roboto';
    src: url('../font/RobotoCondensed.ttf');
}
@font-face {
    font-family: 'Comforta';
    src: url('../font/Comfortaa.ttf');
}
@font-face {
    font-family: 'Jura';
    src: url('../font/Jura.ttf');
}